/* .hidden {
    scale : 0;
} */

body {
    min-height: 95vh;
}

.item {
    display: flex;
    justify-content: space-around;
}

.list {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

.startPageBtns {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 4rem;
}

.listBtns {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 4rem;
}