/* .hidden {
    scale : 0;
} */

body {
    min-height: 95vh;
    background-color: rgb(91, 91, 91);
    color: white;
}

.item {
    display: flex;
    justify-content: space-around;
    padding: 0.5rem;
    border-radius: 4px;
    color: black;
}

.high {
    background-color: rgb(255, 177, 177);
}

.medium {
    background-color: rgb(255, 255, 177);
}

.low {
    background-color: rgb(177, 255, 177);
}

.list {
    display: flex;
    flex-direction: column;
    margin: 1rem 10%;
}

.startPageBtns {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 4rem;
}

.listBtns {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 4rem;
}