/* .hidden {
    scale : 0;
} */

body {
    min-height: 95vh;
    background-color: rgb(57, 57, 57);
    color: white;
    font-size: 1rem;
}

.startPageBtns {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 4rem;
}

.listBtns {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 4rem;
}

.list {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    color: black;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.item:first-child {
    border-top: 2px solid white;
}

.item:last-child {
    border-bottom: 2px solid white;
}

.high {
    background-color: rgb(255, 120, 120);
}

.medium {
    background-color: rgb(255, 190, 87);
}

.low {
    background-color: rgb(117, 175, 117);
}

.delItem {
    font-size: 1rem;
}